<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Home Juara TraPel</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">
    <!--


-->
</head>

<body>
    <div id="id">
        <h1 class="Color1"> Pemesanan telah berhasil dengan data </h1>
        <table class="table">
            <div class="p-3 border bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <div class="col-md-13">
                                    <tr class="thead">
                                        <td scope="col"> id booking</td>
                                        <td scope="col"> nik</td>
                                        <td scope="col"> nama</td>
                                        <td scope="col">id keberangkatan</td>
                                        <td scope="col">waktu</td>
                                        <td scope="col">perusahaan</td>
                                        <td scope="col">kelas</td>
                                        <td scope="col">harga</td>
                                    </tr>
                                    <tr cope="col" th:each="booking:${data}">
                                        <td th:text="${booking.id}"></td>
                                        <td th:text="${booking.getnik}"></td>
                                        <td th:text="${booking.getnama}"></td>
                                        <td th:text="${booking.getId_Keberangkatan}"></td>
                                        <td th:text="${booking.getWaktu}"></td>
                                        <td th:text="${booking.getPerusahaan}"></td>
                                        <td th:text="${booking.getKelas}"></td>
                                        <td th:text="${booking.getHarga}"></td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


</body>
</table>

</body>

</html>