<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>"

    <title>booking berhasil</title>

    <link rel="stylesheet" href="assets/css/index.css">
</head>

<body>
    <div id="id">
        <h1 class="Color1"> Pemesanan telah berhasil dengan data </h1>
        <table class="table">
            <div class="p-3 border bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <div class="col-md-13">
                                    <tr class="thead">
                                        <td scope="col"> id booking</td>
                                        <td scope="col"> nik</td>
                                        <td scope="col"> nama</td>
                                        <td scope="col">id keberangkatan</td>
                                        <td scope="col">waktu</td>
                                        <td scope="col">perusahaan</td>
                                        <td scope="col">kelas</td>
                                        <td scope="col">harga</td>
                                    </tr>
                                    <tr cope="col" th:each="booking:${data}">
                                        <td th:text="${booking.id}"></td>
                                        <td th:text="${booking.getnik}"></td>
                                        <td th:text="${booking.getnama}"></td>
                                        <td th:text="${booking.getId_Keberangkatan}"></td>
                                        <td th:text="${booking.getWaktu}"></td>
                                        <td th:text="${booking.getPerusahaan}"></td>
                                        <td th:text="${booking.getKelas}"></td>
                                        <td th:text="${booking.getHarga}"></td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


</body>
</table>

</body>

</html>