<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <title>Juara TraPel - Cari Keberangkatan</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">
    <!--


-->

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <li class="scroll-to-section">
                            <a href="/bustrapel" class="logo">
                                <img src="assets/images/logo.png">
                            </a>
                        </li>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#promo">Promo</a></li>
                            <li class="scroll-to-section"><a href="#testi">Testimoni</a></li>
                            <li class="scroll-to-section"><a href="carikeberangkatan">Booking Tiket</a></li>
                            <li class="scroll-to-section"><a href="blog">Inspirasi Wisata</a></li>
                            <li class="scroll-to-section"><a href="prokescovid">Travel Aman</a></li>
                            <li class="scroll-to-section">
                                <form action="/login" method="get"><button type="submit"
                                        class="btn btn-primary btn-sm">Login</button>
                                </form>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div id="id">
        <div class="booking-form" id="username">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <div class="col-md-13">
                                <div class="contact-form">
                                    <div class="p-3 border bg-light">
                                        <h5 align="center" class="Color1" style="margin-top: 100px"> <b>Keberangkatan
                                                yang Tersedia</b>
                                        </h5>
                                        <table class="table">
                                            <tr class="thead">
                                                <td scope="col">Id keberangkatan</td>
                                                <td scope="col">Waktu</td>
                                                <td scope="col">Terminal Awal</td>
                                                <td scope="col">Terminal Akhir</td>
                                                <td scope="col">Kelas</td>
                                                <td scope="col">Harga</td>
                                                <td scope="col">Perusahaan</td>
                                                <td scope="col">Kursi Free</td>
                                            </tr>
                                            <tr scope="col" th:each="booking:${data}">
                                                <td th:text="${booking.getId_Keberangkatan}"></td>
                                                <td th:text="${booking.getWaktu}"></td>
                                                <td th:text="${booking.getTerminal_Awal}"></td>
                                                <td th:text="${booking.getTerminal_Akhir}"></td>
                                                <td th:text="${booking.getKelas}"></td>
                                                <td th:text="${booking.getHarga}"></td>
                                                <td th:text="${booking.getPerusahaan}"></td>
                                                <td th:text="${booking.getKursi_free}"></td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="id">

            <div class="booking-form" id="username">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <div class="col-md-13">
                                    <div class="contact-form">
                                        <div class="p-3 border bg-light">
                                            <p font size="20" class="Color1">
                                            <h5 style="margin-bottom: 10px;">
                                                <b>Cari Keberangkatan</b>
                                            </h5>
                                            </p>
                                            <form th:object="${formBerangkat}" th:action="@{/checkkeberangkatan}"
                                                method="post">
                                                <div class="form-group">
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <label for="exampleInputPassword1">Tanggal</label>
                                                        <input type="text" class="form-control" id="inputtanggal"
                                                            placeholder="Tanggal Keberangkatan" required
                                                            th:field="*{tanggal}">
                                                    </div>
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                                <label for="exampleInputPassword1">Terminal
                                                                    Keberangkatan</label>
                                                                <input type="text" class="form-control"
                                                                    id="inputterminal" placeholder="Nama Terminal"
                                                                    required th:field="*{id_jurusan.terminal_awal}">
                                                            </div>

                                                        </div>

                                                    </fieldset>
                                                    <button type="submit" class="btn btn-primary"
                                                        style="text-align:justify"> search</button>


                                                </div>
                                        </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="id">
            <div class="booking-form" id="username">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <div class="col-md-13">
                                    <div class="contact-form">
                                        <div class="p-3 border bg-light">
                                            <p class="Color1">
                                            <h5 style="margin-bottom: 10px;">
                                                <b>Booking Keberangkatan</b>
                                            </h5>
                                            </p>
                                            <form th:object="${dataBooking}" th:action="@{/pesanbooking}" method="POST">
                                                <div class="form-group">
                                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                                        <label for="exampleInputPassword1">ID Keberangkatan</label>
                                                        <input type="text" class="form-control"
                                                            id="inputidkeberangkatan"
                                                            placeholder="Input Id Keberangkatan" required
                                                            th:field="*{id_keberangkatan.id}">
                                                    </div>
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                                <label for="exampleInputPassword1">User name</label>
                                                                <input type="text" class="form-control" id="username"
                                                                    placeholder="Input Username" required
                                                                    th:field="*{nik.nik}">
                                                            </div>
                                                    </fieldset>
                                                    <button type="submit" class="btn btn-primary"
                                                        style="text-align:justify">Booking </button>
                                                </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- form Cancel Start-->
    <div id="id">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="p-3 border bg-light">
                <h1 class="Color1"> Pembatalan Booking </h1>
                <div class="container">

                <form th:object="${dataBooking}" th:action="@{/cancelBooking}" method="POST">
                    <div class="form-group">
                        <label for="exampleInputPassword1">ID Booking</label>
                        <input type="text" class="form-control" id="idBooking" placeholder="Id Booking"
                            th:field="*{id}">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
        </div>


        <!-- form cancel end -->


        <!-- ***** Footer Start ***** -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        <img src="assets/images/logofooter.png" alt="Juara Trapel Bus Booking">
                    </div>
                    <ul>
                        <li><a href="#">Jl. Jalan Keliling Kota No 1001</a></li>
                        <li><a href="#">Juara@Trapel.com</a></li>
                        <li><a href="#">021-989-999</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2021 Juara Trapel Co., Ltd. All Rights Reserved.

                        <!-- <br>Design: <a href="https://templatemo.com" target="_parent"
                              title="free css templates">TemplateMo</a> -->
                    </p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>



        </footer>
        <script src="assets/js/jquery-2.1.0.min.js"></script>

        <!-- Bootstrap -->
        <script src="assets/js/popper.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- Plugins -->
        <script src="assets/js/owl-carousel.js"></script>
        <script src="assets/js/accordions.js"></script>
        <script src="assets/js/datepicker.js"></script>
        <script src="assets/js/scrollreveal.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/imgfix.min.js"></script>
        <script src="assets/js/slick.js"></script>
        <script src="assets/js/lightbox.js"></script>
        <script src="assets/js/isotope.js"></script>

        <!-- Global Init -->
        <script src="assets/js/custom.js"></script>

        <script>
            $(function () {
                var selectedClass = "";
                $("p").click(function () {
                    selectedClass = $(this).attr("data-rel");
                    $("#portfolio").fadeTo(50, 0.1);
                    $("#portfolio div").not("." + selectedClass).fadeOut();
                    setTimeout(function () {
                        $("." + selectedClass).fadeIn();
                        $("#portfolio").fadeTo(50, 1);
                    }, 500);

                });
            });
        </script>


</body>


</html>