<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Home Juara TraPel</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">
    <!--


-->
</head>
    <body>
    <div id ="id">
    <h1 class="Color1"> Anda telah terdaftar, dengan data berikut ; </h1> 
    <table class="table">
    
	<tr class="thead" th:each= penumpang:${penumpangData}>  
        <td scope ="col"> NIK</td> 
   		<td th:text = ${penumpang.nik}></td> 
    </tr>

	<trclass="thead" th:each= penumpang:${penumpangData}>  
		 <td scope ="raw">Nama</td>   
        <td th:text = ${penumpang.nama}></td>
   	
    </tr>
		<trclass="thead" th:each= penumpang:${penumpangData}>  
      	 <td scope ="raw"> Telpon</td>   
    	<td th:text = ${penumpang.telpon}></td>
    </tr>
    
        
    </body>
    </table>
</body>
</html>