<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>"

    <title>nihil</title>

    <link rel="stylesheet" href="assets/css/index.css">
</head>

<body>
    <div id="id">
        <div class="p-3 border bg-light">
            <h1 class="Color1"> Tidak tersedia keberangkatan bus pada tanggal yang diingankan </h1>
        </div>
    </div>
    <div id="idtest" style="margin-top:50px">
    <button type="submit" class="btn btn-primary" style="text-align:justify">Kembali kemenu Sebelunya
    </button>


</body>


</html>